<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs local network access to perform remote pairing with your device services.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_remotepairing._tcp</string>
		<string>_remotepairing._udp</string>
		<string>_apple-mobdev2._tcp</string>
	</array>
</dict>
</plist>
